<ion-header>
</ion-header>

<ion-content no-bounce overflow-scroll="true">
  <ion-searchbar #searchBar (ionCancel)="cancelSearch()" (ionBlur)="fixMap()" (ionFocus)="openSearch($event)"
    (ionInput)="runSearch($event)" (ionClear)="clearSearch()" placeholder="Search" class="searchBar"></ion-searchbar>
  <ion-fab id='locateFab' (click)="goToUserLocation()" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab id='heatFab' *ngIf="showNormal" (click)="toggleMarkers()" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="color-fill"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab id='heatFab' *ngIf="!showNormal" (click)="toggleMarkers()" slot="fixed">
    <ion-fab-button color='danger' size="small">
      <ion-icon name="pint"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab id='forceReload' slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab id='settingsFab' (click)="openModal()" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div #map class="map"></div>
  <ion-bottom-drawer [disableDrag]="disableDrag" [(state)]="drawerState" [minimumHeight]="minimumHeight"
    [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
    <div class="drawer-content">
      <div style='background:white; width:100%; height:30px;' class='drawerActuator' (touchstart)='enableDashScroll()'
        (touchend)='disableDashScroll()'>
        <div id='pullBar'>
        </div>
      </div>
      <div scrollY="true" id="myScrollDiv">
        <div *ngIf="needInfo && !routeMode">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{selectedTitle}}
                <ion-chip style="pointer-events:none;" *ngIf="selectedStatus != null">
                  <ion-icon name="time" color="dark"></ion-icon>
                  <ion-label>{{selectedStatus}}</ion-label>
                </ion-chip>
                <ion-chip color='success' style="pointer-events:none;"
                  *ngIf="selectedStatus != null && selectedPassengerCount <= 33.3">
                  <ion-icon name="contacts" color="dark"></ion-icon>
                  <ion-label>{{selectedPassengerCount}}%</ion-label>
                </ion-chip>
                <ion-chip color='warning' style="pointer-events:none;"
                  *ngIf="selectedStatus != null && (selectedPassengerCount > 33.3 && selectedPassengerCount <= 66.6)">
                  <ion-icon name="contacts" color="dark"></ion-icon>
                  <ion-label>{{selectedPassengerCount}}%</ion-label>
                </ion-chip>
                <ion-chip color='danger' style="pointer-events:none;"
                  *ngIf="selectedStatus != null && selectedPassengerCount > 66.6">
                  <ion-icon name="contacts" color="dark"></ion-icon>
                  <ion-label>{{selectedPassengerCount}}%</ion-label>
                </ion-chip>
              </ion-card-title>
              <ion-card-subtitle>{{selectedSubTitle}}</ion-card-subtitle>
              <div *ngIf="!selectedStatus" class="goButton">
                <ion-button color="secondary" (click)="getRoute(mapRef, selectedItem)">ROUTE</ion-button>
              </div>
            </ion-card-header>
          </ion-card>
          <ion-list style="padding-bottom: 75px;" *ngIf="arrivalBuses.length > 0">
            <ion-item *ngFor="let depart of arrivalBuses">
              <ion-card style="width:100%;">
                <ion-card-header>
                  <ion-card-title>{{depart.Bus.RouteShortName}}
                  </ion-card-title>
                  <ion-card-subtitle>{{depart.Bus.Destination}}</ion-card-subtitle>
                  <ion-card-subtitle>Scheduled Arrival: {{depart.STA}} <ion-chip style="pointer-events:none;"
                      *ngIf="depart.Dev != '00:00:00'" outline='true' color="danger">
                      <ion-label>Late: +{{depart.Dev}}</ion-label>
                    </ion-chip>
                  </ion-card-subtitle>
                  <ion-card-subtitle>Predicted Arrival: {{depart.ETA}}
                  </ion-card-subtitle>
                  <ion-button class="goButton" color="success" (click)="goToBus(mapRef, depart.Bus)">FIND</ion-button>
                </ion-card-header>
              </ion-card>
            </ion-item>
          </ion-list>
          <ion-list style="padding-bottom: 75px;" *ngIf="stopsForRoute.length > 0">
            <ion-item *ngFor="let stop of stopsForRoute">
              <ion-card style="width:100%;">
                <ion-card-header>
                  <ion-card-title>{{stop.Name}}
                  </ion-card-title>
                  <ion-card-subtitle>{{stop.Description}}</ion-card-subtitle>
                  <div class="goButton">
                    <ion-button color="success" (click)="goToStop(mapRef, stop)">FIND</ion-button>
                  </div>
                </ion-card-header>
              </ion-card>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="routeMode">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Route</ion-card-title>
              <ion-card-subtitle>Based on Current Location</ion-card-subtitle>
              <ion-chip style="pointer-events:none;">
                <ion-icon name="calendar" color="dark"></ion-icon>
                <ion-label>Depart: {{route.depatureTime}}</ion-label>
              </ion-chip>
              <ion-chip style="pointer-events:none;">
                <ion-icon name="calendar" color="dark"></ion-icon>
                <ion-label>Arrive: {{route.arrivalTime}}</ion-label>
              </ion-chip>
              <ion-chip style="pointer-events:none;">
                <ion-icon name="time" color="dark"></ion-icon>
                <ion-label>{{route.duration}}</ion-label>
              </ion-chip>
              <ion-chip style="pointer-events:none;">
                <ion-icon name="bus" color="dark"></ion-icon>
                <ion-label>{{route.distance}}</ion-label>
              </ion-chip>
            </ion-card-header>
            <div class="goButton">
              <ion-button (click)="exitRoute()" color="danger">EXIT</ion-button>
            </div>
          </ion-card>
          <ion-list style="padding-bottom: 75px;">
            <ion-item *ngFor="let step of route.steps">
              <ion-card style="width:50%">
                <ion-card-header>
                  <ion-card-title>Depart: {{step.departStop}}</ion-card-title>
                  <ion-card-subtitle>{{step.bus}} @ {{step.departTime}}</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
              <ion-card style="width:50%">
                <ion-card-header>
                  <ion-card-title>Arrive: {{step.arrivalStop}}</ion-card-title>
                  <ion-card-subtitle>{{step.bus}} @ {{step.arrivalTime}}</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-item>
          </ion-list>
        </div>
        <ion-list style="padding-bottom: 75px;" *ngIf="!needInfo && !routeMode">
          <ion-item *ngFor="let stop of matchingStops">
            <ion-card style="width:100%;">
              <ion-card-header>
                <ion-card-title>{{stop.Name}}
                </ion-card-title>
                <ion-card-subtitle>{{stop.Description}}</ion-card-subtitle>
                <div class="goButton">
                  <ion-button color="success" (click)="goToStop(mapRef, stop)">FIND</ion-button>
                </div>
              </ion-card-header>
            </ion-card>
          </ion-item>
          <ion-item *ngFor="let bus of matchingBuses">
            <ion-card style="width:100%;">
              <ion-card-header>
                <ion-card-title>{{bus.RouteShortName}}
                </ion-card-title>
                <ion-card-subtitle>{{bus.Destination}}</ion-card-subtitle>
                <ion-button class="goButton" color="success" (click)="goToBus(mapRef, bus)">FIND</ion-button>
              </ion-card-header>
            </ion-card>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-bottom-drawer>
</ion-content>