.map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.noScroll {
    overflow: hidden;
}

.searchBar {
    position: absolute;
    z-index: 100;
}

ion-content {
    --overflow: hidden;
}

.ion-bottom-drawer {
    overflow:auto;
}

.goButton {
    position: absolute;
    top: 25%;
    right: 5px;
}

g {
    transform-box: view-box !important;
    transform-origin: center !important;
}

.svg-container {
    position: relative;
    text-align: center;
}

#bus {
    z-index: -100;
}

#busProps {
    fill: black;
}