.map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.noScroll {
    overflow: hidden;
}

.searchBar {
    position: absolute;
    z-index: 100;
}

ion-content {
    --overflow: hidden;
}

.ion-bottom-drawer {
    overflow:auto;
}

#bus {
    fill: black;
}

.goButton {
    position: absolute;
    top: 25%;
    right: 5px;
}

svg .rotate {
    transform-box: view-box;
    transform-origin: center;
}

.image-container {
    position: relative;
    text-align: center;
}

.bus-number {
    position: absolute;
    top: 100;
    width: 100%;
}