.map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.noScroll {
    overflow: hidden;
}

.searchBar {
    position: absolute;
    z-index: 100;
}

ion-content {
    --overflow: hidden;
}

.ion-bottom-drawer {
    overflow:auto;
}